**/build/
**/__pycache__/
**/src/interconnect.cpython-313-darwin.so
**/*~
buda_system_v2/flow/four_blocks_nuts.log
buda_system_v2/flow/nuts.log
buda_system_v2/flow/sel_topo_4pin_nuts.log
buda_system_v2/flow/sidecar_4pin_open_nuts.log
buda_system_v2/flow/test3_nuts.log
buda_system_v2/flow/test4_nuts.log
.DS_Store
buda_system_v2/flow/large_scale_demo_flow.log
buda_system_v2/flow/large_scale_demo_nuts.log
buda_system_v2/flow/test1_flow.log
buda_system_v2/flow/test2_flow.log
buda_system_v2/flow/test3_flow.log
buda_system_v2/flow/test4_flow.log
buda_system_v2/flow/test5_flow.log
buda_system_v2/flow/test5_nuts.log
buda_system_v2/flow/test_flow.log
buda_system_v2/flow/test_nuts.log
buda_system_v2/flow/test6_flow.log
buda_system_v2/flow/test6_nuts.log
buda_system_v2/flow/two_bundle_cong_flow.log
buda_system_v2/flow/two_bundle_cong_nuts.log
buda_system_v2/flow/two_busterms_flow.log
buda_system_v2/flow/two_busterms_nuts.log
buda_system_v2/flow/two_busterms_rotated_flow.log
buda_system_v2/flow/two_busterms_rotated_nuts.log
buda_system_v2/flow/two_flow.log
buda_system_v2/flow/two_nuts.log
log/cc-before-compact.log
log/claude-code-may-8-after-compaction.md
log/claude-code-may-8.md
buda_system_v2/src/nuts.log
buda_system_v2/flow/tmp
buda_system_v2/flow/large_fanout_flow.log
buda_system_v2/flow/large_fanout_nuts.log
buda_system_v2/flow/one2_flow.log
buda_system_v2/flow/one_flow.log
buda_system_v2/flow/realistic_large_chip_flow.log
buda_system_v2/flow/realistic_large_chip_nuts.log
buda_system_v2/flow/test5bug_flow.log
buda_system_v2/flow/test5bug_nuts.log
buda_system_v2/flow/two1_flow.log
buda_system_v2/flow/four_blocks_flow.log
buda_system_v2/flow/one3_flow.log
buda_system_v2/flow/ariane_flow.log
buda_system_v2/flow/ariane_nuts.log
buda_system_v2/flow/ariane/ariane_core_flow.log
buda_system_v2/flow/ariane/ariane_core_nuts.log
buda_system_v2/flow/ariane/ariane_flow.log
buda_system_v2/flow/ariane/ariane_nuts.log
buda_system_v2/flow/two_b7_b11_flow.log
buda_system_v2/flow/two_b7_b11_nuts.log
buda_system_v2/flow/two_b7_flow.log
buda_system_v2/flow/two_b7_nuts.log
buda_system_v2/flow/comprehensive_demo_flow.log
buda_system_v2/flow/comprehensive_demo_nuts.log
buda_system_v2/flow/dnuts1_flow.log
buda_system_v2/flow/dnuts1_nuts.log
buda_system_v2/flow/four_blocks_3_bundles_flow.log
buda_system_v2/flow/four_blocks_3_bundles_nuts.log
buda_system_v2/flow/three_blocks_3_bundles_flow.log
buda_system_v2/flow/three_blocks_3_bundles_nuts.log
buda_system_v2/flow/two_dnuts_b1_flow.log
buda_system_v2/flow/two_dnuts_b1_nuts.log
buda_system_v2/flow/two_dnuts_b2_flow.log
buda_system_v2/flow/two_dnuts_b2_nuts.log
buda_system_v2/flow/two_dnuts_flow.log
buda_system_v2/flow/two_dnuts_nuts.log
buda_system_v2/flow/two_rotated_buses_flow.log
buda_system_v2/flow/two_rotated_buses_nuts.log
buda_system_v2/flow/two_rotated_flow.log
buda_system_v2/flow/two_rotated_nuts.log
nuts.log
